<div id="toolbar">

  <div style="width:100%;height:90vh;z-index:-1; background:white" ng-mousemove="myFunc($event)" ng-mousedown="startDraw($event)" ng-mouseup="endDraw($event)">
    <svg id="canvas" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" style="cursor:crosshair;z-index:-1;">
      <defs>
        <pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
          <path d="M 8 0 L 0 0 0 8" fill="none" stroke="grey" stroke-width="0.5"/>
        </pattern>
        <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
          <rect width="80" height="80" fill="url(#smallGrid)"/>
          <path d="M 80 0 L 0 0 0 80" fill="none" stroke="grey" stroke-width="1"/>
        </pattern>
      </defs>

        <rect ng-show="showShadow" x="{{xLocation}}" y="{{yLocation}}" width="{{ shapeWidth }}" height="{{ shapeHeight }}" style="fill:rgba(78,139,168,0.3);stroke-width:1;stroke:rgb(0,0,0)" />
        <rect ng-show="showShadow2" x="{{shadowXLocation}}" y="{{shadowYLocation}}" width="{{ shadowX }}" height="{{ shadowY }}" style="fill:rgba(0,0,168,0.3);stroke-width:1;stroke:rgb(0,0,0)" />


      <rect width="100%" height="100%" fill="url(#grid)" />
    </svg>
  </div>

  <div id="toolbar">
      <div ng-if="toolbarShow" ng-style="{{toolbarStyle}}">
          <ul>
              <li class="button" ng-click="createBox()">Box</li>
              <li class="button" ng-click="createCircle()">Circle</li>
              <li class="button" ng-click="createEllipse()">Ellipse</li>
              <li class="button" ng-click="createRoundedBox()">Rounded Box</li>
          </ul>
      </div>
  </div>
  <div id="ShapeToolbar">
      <div ng-if="shapeToolbarShow" ng-style="{{ shapeToolbarStyle }}">
          <ul>
            <input type="color" ng-model="elementColor" id="pickAColor">
              <li class="button" ng-click="deleteShape()">delete</li>
          </ul>
      </div>
  </div>



</div>
