.icon-small{
    font-size: 24px !important;
    user-select: none;
}

.icon-large{
    font-size: 36px !important;
    user-select: none;
}
.icon-extra-large{
    font-size: 80px !important;
    user-select: none;
}

// .material-icons {
//   font-family: 'Material Icons';
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px;
// }

.star{
    cursor: pointer;
    color: $yellow-A700;
    font-size: 30px !important;
    user-select: none;
}